* {
    padding: 0;
    margin: 0;
}

html { 
    background-color: #f9c1fa; 
}

header{
    text-align: center;
    margin: 50px;
	padding: 0; 
}

h1#head { 
    font-size: 50px;
    font-family: Cursive;
    color: rgb(123, 0, 255);
}

h1#result {
    font-size: 30px;
    font-family: Verdana;
    color:blueviolet;
    text-align: center;
    margin-bottom: 30px;
}

canvas {
    border: 3px solid rgb(252, 179, 244); 
    background-color: rgb(224, 255, 225);
    text-align: center;
	display: block;
	float: left;
}

#game {
    position: relative;
    width: 650px; 
    height: 322px;
    margin: 0 auto;
}

#tic {
    position: relative;
    margin: 0 auto;
    width: 318px;
    height: 318px;
    display: inline-block;
	border: 3px solid dodgerblue; 
}

#rules {
    position: relative;
    width: 318px;
    height: 318px;
    text-align: center;
    display: inline-block;
}

p {
    font-size: 26px;
    margin: 15px;
    color: rgb(136, 0, 255);
}

h2 {
    font-size: 35px;
    color: rgb(136, 0, 255);
}

button {
    margin-top: 25px; 
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    background-color: rgb(227, 29, 29);
    color: rgb(247, 255, 5);
    border: 1px solid black; 
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
	border-radius: 3px;
}

canvas:hover {
    background-color: lightblue;
}

button:hover {
    background: green;
}